/*@font-face {*/
/*    font-family: Oliciy;*/
/*    src: url("./Oliciy.woff");*/
/*}*/
body {
    font-family: Oliciy, sans-serif;
}
.center * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img.center {
    display: block;
}