body {
    position: relative;
    font-family: 'Rubik', sans-serif;
    padding: 5px;
    margin: auto;
    font-size: 13pt;
    max-width: 50em;
}
div.header {
    text-align: left;
    width: auto;
    height: auto;
    /*margin: auto;*/
    /*margin-bottom: 20px;*/
}
div.info {
}
div.info > span {
    margin-left: 4pt;
    margin-right: 20pt;
    margin-bottom: 4pt;
    margin-top: 4pt;
    display: inline-block;
}
#myhead {
    height: 160px;
}

div.section {
    break-inside: avoid;
    margin: 0;
}

h1 {
    font-size: 3em;
    margin: 0;
    display: block;
}

ul {
    padding-left: 20pt;
}

span.degree {
    font-style: italic;
    text-align: right;
    display: block;
    margin: 0;
    padding: 0;
}

div.column-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10pt;
}
div.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@page {
    margin-top: 8mm;
    margin-bottom: 8mm;
}

@media print {
    .noprint {
        display: none;
    }
    .pagebreak {
        page-break-before: always;
    }

    body {
        font-size: 12pt;
        margin: 0;
        max-width: none;
    }
    div.header a {
        text-decoration: none;
        color: black;
    }
    #myhead {
        width: 0%;
        height: 0%;
    }
    div.header {
        grid-template-columns: 0 1fr;
        grid-gap: 0;
    }
}
