@font-face {
    font-family: Oliciy;
    src: url("../Oliciy.woff");
}
.center * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
img.center {
    display: block;
}
:root {
    --left-margin: calc(100% * 58/1600);
    --pad: 10px;
    --margin: calc(var(--left-margin) - var(--pad));
    --dark-bg: rgba(0,0,0,0.92);
}
body {
    font-family: Oliciy, sans-serif;
    background-image: url("../img/colourbg.png");
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}
img.header {
    width: 100%;
    border-bottom: 5px black solid;
}
.bar-title {
    display: inline-block;
    margin: 0 0 0 var(--margin);
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
ul {
    padding: 0 var(--left-margin) ;
}
ul.scroll-section{
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}
li {
    background-color: var(--dark-bg);
    padding: 10px;
    color: white;
}
a {
    color: #45ffe6;
}
li {
    list-style-type: none;
    margin: 0;
}
.scroll-section a {
    text-decoration: none;
}
.scroll-section figure {
    min-height: 200px;
    margin: 0;
}
.scroll-section figure img {
    height: 200px;
}
.scroll-section figure figcaption {
    font-family: Oliciy, sans-serif;
    color: white;
}
article {
    margin: 0 var(--margin);
    padding: var(--pad);
    background-color: var(--dark-bg);
    color: white;
}
h1 {
    margin: 0;
}
p {
    font-family: sans-serif;
}