---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {% for category in site.categories %}
    <section>
        <header>
            <h2 class="bar-title">{{category[0]}}</h2>
        </header>
        <ul class="scroll-section">
            {% for post in category[1] %}
            <li>
                {% if post.redirect %}
                <a href='{{ post.redirect }}'>
                    {% else %}
                    <a href='{{ post.url }}'>
                        {% endif %}
                        <figure>
                            <picture><img src="{{post.image}}" alt=""></picture>
                            <figcaption>{{post.title}}</figcaption>
                        </figure>
                    </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</div>
